<section class="project section justify-content-center align-items-center h-50 w-100 pt-6 px-10 position-relative" id="project">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row justify-content-center align-items-center gx-5">
            <div class="col-lg-6 col-md-9 col-sm-10 px-16 py-12 justify-content-center align-items-center">
                <img src="assets/images/1.png" class="img-fluid project_img" alt="vector strona">
            </div>
            <div class="col-lg-6 col-md-9 col-sm-10 px-16 py-12 justify-content-center align-items-center order-2 order-lg-0 mt-5">
                <p class="portfolio_l text-center">
                    <a href="https://github.com/Kubaleek/portfolio"><i class="bi bi-github"></i></a>
                    <a href="https://kubaleek.github.io/portfolio/home"><i class="bi bi-box-arrow-in-up-right pm"></i></a>
                </p>
                <hr class="about_line my-4 mx-auto hr w-50">
                <p class="project_text project_text_tech mt-5 text-center">
                    <i class='bx bxl-html5'></i>
                    <i class='bx bxl-css3'></i>
                    <i class='bx bxl-angular'></i>
                    <i class='bx bxl-typescript'></i>
                </p>
            </div>      
                   
        </div>
    </div>
</section>
