/* ==========> Rozdział / Strony <========= */
.section {
    padding: 10rem 0 2% 0;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title p {
    padding-bottom: 15px;
    margin-bottom: 1px;
    position: relative;
    font-size: 4rem;
    font-weight: 700;
    color: #dde2f4;
}

.section-title p::after {
    content: '';
    position: absolute;
    display: block;
    width: 70px;
    height: 2px;
    background: #99a1ba;
    bottom: 0;
    left: calc(50% - 30px);
}

@media (max-width: 768px) {
    .section {
        padding: 4rem 0 1%;
    }

    .section-title p {
        padding-bottom: 15px;
        margin-bottom: 1px;
        position: relative;
        font-size: 3.6rem;
        font-weight: 700;
        color: #dde2f4;
    }
}
/* ==========> Portfolio / Rozdział <========= */
.project .project_img {
    border: solid 1px #ffffff41;
}
.project h1 {
    margin: 20px 0 10px 0;
    margin-bottom: 20px;
    font-size: 5rem;
    font-weight: 700;
    line-height: 56px;
    color: #dde2f4;
}
.project .portfolio_p {
    color: #99a1ba;
    font-weight: 600;
    font-size: 2.1rem;
}
.project .porftolio_t {
    color: #99a1ba;
    font-weight: 600;
    font-size: 5rem;
}
.project .portfolio_l {
    font-weight: 600;
    font-size: 5rem;
}
.project .portfolio_l a {
    color: #99a1ba;
    transition: 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.project .portfolio_l a:hover {
    color: #dde2f4;
}
.project .pm {
    margin-left: 1rem;
    cursor: pointer;
}
/* Text */
.project .project_text {
    font-weight: 500;
    color: #99a1ba;
}
.project .project_text2 {
    font-size: 2rem;
    font-weight: 600;
    color: #99a1ba;
    display: none;
}
/* Technologia Ikonki */
.project .project_text_tech {
    font-size: 5rem;
}
.project .project_text_tech i{
    border: 1px solid #99a1ba;
    padding: 2rem;
}
/* Linia */
.project_line {
    color: #dde2f4;
}
/* Powrót do Portfolio */
.cssbuttons-io-button {
    color: #99a1ba;
    font-family: inherit;
    padding: 0.10em;
    padding-left: 1.2em;
    font-size: 1.7rem;
    font-weight: 500;
    border-radius: 0.9em;
    border: 1px solid #99a1ba;
    box-shadow: inset 0 0 1.6em -0.6em #99a1ba9f;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}
.cssbuttons-io-button .icon {
    background: #99a1ba;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: calc(100% - 0.6em);
    border-radius: 0.7em;
    right: 0.3em;
    transition: all 0.3s;
}
.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #dde2f4;
}
.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}
.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}
  
/* ==========> Portfolio / Resposywność <========== */
@media (max-width: 991px) {
    .project {
        height: calc(100vh - 72px);
    }
}
@media (max-width: 768px) {
    .project h1 {
        font-size: 3.75rem;
        line-height: 36px;
    }
    .project .portfolio_p {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .project .project .project_text_tech {
        font-size: 4rem;
    }
    .project .porftolio_t {
        font-size: 4rem;
    }
}
@media (max-width: 425px){
    .project .project_text2 {
        display: block;
    }
}
/* ==========> Portfolio /  Design Obrazka <========== */