<section class="project section justify-content-center align-items-center h-50 w-100 position-relative" id="project">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row justify-content-center align-items-center gx-5">
            <div class="col-lg-6 col-md-6 col-sm-18 px-22 py-16 justify-content-center align-items-center">
                <img src="assets/images/1.png" class="img-fluid project_img" alt="vector strona">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-15 px-22 py-16 justify-content-center align-items-center order-2 order-lg-0">
                <h1 class="mt-5">Porftolio</h1>
                <p class="portfolio_p">
                    Witaj! Stworzyłem mój pierwszy własny projekt portfolio które stanowi wizualne 
                    i funkcjonalne zaplecze do prezentacji moich umiejętności i projektów. 
                    Do Projektu Wykorzystałem HTML, CSS, Angular.
                </p>
                <p class="portfolio_l">
                    <a href="https://github.com/Kubaleek/portfolio"><i class="bi bi-github"></i></a>
                    <a href="https://kubaleek.github.io/portfolio/projects"><i class="bi bi-box-arrow-in-up-right pm"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>
