/* ==========> Rozdział / Strony <========= */
.section {
    padding: 10rem 0 2% 0;
}

.section-title {
    text-align: center;
    padding-bottom: 30px;
}

.section-title p {
    padding-bottom: 15px;
    margin-bottom: 1px;
    position: relative;
    font-size: 4rem;
    font-weight: 700;
    color: #dde2f4;
}

.section-title p::after {
    content: '';
    position: absolute;
    display: block;
    width: 70px;
    height: 2px;
    background: #99a1ba;
    bottom: 0;
    left: calc(50% - 30px);
}

@media (max-width: 768px) {
    .section {
        padding: 4rem 0 1%;
    }

    .section-title p {
        padding-bottom: 15px;
        margin-bottom: 1px;
        position: relative;
        font-size: 3.6rem;
        font-weight: 700;
        color: #dde2f4;
    }
}
/* ==========> Portfolio / Rozdział <========= */
.project {
    padding: auto 0 15rem;
    
}
.project .project_img {
    border: solid 1px #ffffff41;
}
.project h1 {
    margin: 0 0 10px 0;
    margin-bottom: 20px;
    font-size: 5rem;
    font-weight: 700;
    line-height: 56px;
    color: #dde2f4;
    text-align: center;
}
.project .portfolio_p {
    color: #99a1ba;
    font-weight: 600;
    font-size: 2.1rem;
}
.project .porftolio_t {
    color: #99a1ba;
    font-weight: 600;
    font-size: 5rem;
}
.project_line {
    color: #dde2f4;
}
/* ==========> Portfolio / Resposywność <========== */
@media (max-width: 991px) {
    .project {
        height: calc(100vh - 72px);
    }
}
@media (max-width: 768px) {
    .project h1 {
        font-size: 3.75rem;
        line-height: 36px;
    }
    .project .portfolio_p {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .project .porftolio_t {
        font-size: 4.5rem;
    }
}