<section class="contact section justify-content-center d-flex align-items-center h-50 w-100 position-relative" id="contact">
    <div class="container  align-items-center justify-content-center">
        <div class="row justify-content-center align-items-center gx-5">
            <div class="col-lg-6 col-md-9 col-sm-10 d-flex justify-content-center align-items-center">
                <!-- Ilustracja wzięte ze strony Storyset -->
                <img src="assets/images/email.png" class="img-fluid contact_img" alt="Obrazek Storyset">
            </div>  
            <div class="col-lg-6 col-md-9 col-sm-10 d-flex justify-content-center align-items-center contact_box">
                <div class="contact_text">
                    <h1>Kontakt</h1>
                    <p>
                        kuba.krol.ldz&#64;gmail.com
                    </p> 
                    <div class="contact_links">
                        <a href="mailto:kuba.krol.ldz@gmail.com" class="contact_link">
                            <i class='bx bxl-gmail'></i>
                        </a>
                        <a href="https://www.linkedin.com/in/kuba-kr%C3%B3l-9b4946274/" class="contact_link s_p">
                            <i class="bi bi-linkedin"></i>
                        </a>
                    </div>   
                </div>               
            </div>  
        </div>                                 
    </div>
</section>
