.navigation {
    width: 100%;
    padding: 3rem;
}
.navigation .navigation_list .navigation_item {
    padding-left: 2rem;
}
.navigation .navigation_list .navigation_item .navigation_link {
    text-decoration: none;
    color: #99a1ba;
    font-size: 2rem;
    opacity: 0.7;
    font-weight: 600;
    position: relative;
    transition: all .3s;
}
.navigation .navigation_list .navigation_item .navigation_link:hover {
    opacity: 1;
}
.navigation .navigation_link::before, .navigation .navigation_link::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0%;
    opacity: 0.7;
    background: #99a1ba;
    transition: 0.5s;
}
.navigation .navigation_link::after {
    left: 0;
    bottom: -5px;
}
.navigation .navigation_link:hover:after {
    width: 100%;
    opacity: 1;
}
.navigation .navigation_logo {
    font-size: 4rem;
    color: #99a1ba;
}
/* Burger Menu */
.navigation .custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(153, 161, 186)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navigation .navbar-toggler {
    font-size: 2rem;
    border: 1px solid #99a1ba;
}
.navigation  .navbar-toggler span {
    display: block;
    width: 25px;
    height: 2px;
    margin: 6px auto;
    background: rgb(153, 161, 186);
    transition: all .4s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}
.navigation .navbar-toggler:hover span,
.navigation .navbar-toggler:focus span {
    background: rgb(153, 161, 186);
}
.navigation .navbar-toggler:focus {
    border: 1px solid #99a1ba;
}
.navigation  .navbar-toggler[aria-expanded="true"] span:first-of-type {
    transform: rotate(45deg) translate(6px, 6px);
}
.navigation  .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
    opacity: 0;
}
.navigation  .navbar-toggler[aria-expanded="true"] span:last-of-type {
    transform: rotate(-45deg) translate(5px, -5px);
}
.navigation  .navbar-toggler[aria-expanded="false"] span {
    transform: none;
    opacity: 1;
}
@media (max-width: 768px) {
    .navigation {
        width: 100%;
        height: 100%;
        padding: 3rem 0 0 0;
    }
    .navigation .navigation_list {
        background: #2023317a;
    }
    .navigation .navigation_list .navigation_item {
        margin-right: 1.5rem;
        margin-top: 1rem;
    }
    .navigation .navigation_link::before, .navigation .navigation_link::after {
        content: '';
        position: relative;
        height: 1px;
        width: 0%;
        opacity: 0.7;
        background: #ffffff;
        transition: 0.5s;
    }
    .navigation .navigation_link::after {
        left: 0;
        bottom: -5px;
    }
    .navigation .navigation_link:hover:after {
        width: 0%;
        opacity: 1;
    }
    .navbar .navbar-collapse {
        margin: 1rem 0 1rem 0;
        text-align: center;
    }
}
/* Main */
.main {
    position: relative;
    overflow-x: hidden;
}