<header class="header justify-content-center align-items-center h-20" id="header">
  <nav class="navigation navbar navbar-expand-lg justify-content-center align-items-center" id="navigation">
          <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
              <span></span>
          </button>
      <div class="collapse navbar-collapse justify-content-center align-items-center" id="navbarSupportedContent">
          <ul  class="navigation_list navbar-nav ">
              <li class="navigation_item nav-item active">
                  <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="navigation_link nav-link">Home</a>
              </li>
              <li class="navigation_item nav-item active">
                  <a [routerLink]="['/projects']" class="navigation_link nav-link">Projekty</a>
              </li>
              <li class="navigation_item nav-item active">
                  <a [routerLink]="['/contact']" class="navigation_link nav-link">Kontakt</a>
              </li>
          </ul>
      </div>
  </nav>
</header>
<main class="main px-7 py-12" id="main">
  <router-outlet></router-outlet>
</main>
<footer class="pt-10 pb-5 mt-auto" id="footer">

</footer>