<section class="home section justify-content-center align-items-center h-50 w-100 pt-5 px-10 position-relative" id="home">
    <div class="container d-flex justify-content-center align-items-center">
        <div class="row justify-content-center align-items-center gx-5">
            <div class="col-lg-6 col-md-6 col-sm-10 px-16 py-12 d-flex justify-content-center align-items-center">
                <!-- Ilustracja wzięte ze strony Storyset -->
               <img src="assets/images/home4.png"  class="img-fluid home-img" alt="Obrazek Storyset">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-15 px-22 py-16 justify-content-center align-items-center">
                <h1><span class="textline">Cześć, to ja Kuba Król</span></h1>
                <h2>Frontend Developer</h2>
                <p>
                    Cześć! Witaj na mojej stronie portfolio. Jestem programistą Frontend, specjalizuję się w tworzeniu stron internetowych.
                </p>
            </div>
        </div>        
    </div>
</section>
<section class="about section justify-content-center align-items-center h-50 w-100 pt-5 px-10 position-relative" id="about">
    <div class="container justify-content-center align-items-center">
        <div class="section-title">
            <p>O Mnie</p>
        </div>
        <div class="row justify-content-center align-items-center gx-5">
            <div class="col-lg-6 col-md-8 col-sm-10 px-22 py-16 justify-content-center align-items-center order-2 order-lg-0">
                <div class="project_line vr"></div>
                <p class="about_text mt-5">                   
                    Witaj! Jestem Kuba Król, uczę się w Technikum Programistycznym. 
                    Moją wielką pasją jest projektowanie nowoczesnych, responsywnych i estetycznych stron internetowych.
                    Każdy nowy projekt to dla mnie nie tylko okazja do zdobycia doświadczenia, ale także szansa na rozwijanie mojego portfolio.
                    Aktualnie stawiam sobie za cel dalszą naukę, zdobywanie nowej wiedzy i rozwijanie umiejętności.
                </p>
                <hr class="about_line my-4 mx-auto hr w-50 mt-5 mb-5">
                <div class="row justify-content-center align-items-center gx-5">
                    <div class="col-lg-7 col-md-6 px-22 py-16 d-flex justify-content-center align-items-center d-none d-lg-block">
                        <p class="about_text about_text_tech text-center">
                            <i class='bx bxl-html5'></i>
                            <i class='bx bxl-css3'></i>
                            <i class='bx bxl-javascript'></i>
                            <i class='bx bxl-angular'></i>
                            <i class='bx bxl-wordpress'></i>
                            <i class='bx bxl-git'></i>
                            <i class='bx bxl-typescript'></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-10 px-16 py-12 d-flex justify-content-center align-items-center order-0 d-none d-lg-block">
                <!-- Ilustracja wzięte ze strony Storyset -->
                <img src="assets/images/about2.png" class="img-fluid about_img " alt="Obrazek Storyset">
            </div>
        </div>
    </div>
</section>